// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap-sprockets";
@import "bootstrap";

.results-block {
    display: inline-block;
  }
  
.no-padding {
    padding: 0 !important;
}

.left-padding {
    padding-left: 2.5% !important
}

.logout {
  padding-left: 0;
}

.user-name {
  padding-top: 15px;
}

.nav.navbar-right li {
  .btn {
    color: #fff !important;
    margin-top: 5%;
  }
  .btn-danger:hover {
    background-color: darken(#661916, 20%) !important;
  }
}